package components

templ Navigation() {
	<nav class="border-b py-3">
		<div class="container mx-auto">
			<div class="text-lg">
				<a href="/" class="font-semibold">Gothkit</a>
			</div>
		</div>
	</nav>
}
