package components

templ Navigation() {
	<nav class="border-b py-3">
		<div class="container mx-auto flex justify-between">
			<div class="text-lg text-foreground">
				<a href="/" class="font-semibold uppercase">superkit <span class="text-sm">v0.1</span></a>
			</div>
			<div class="flex gap-4 items-center">
				<div>
					@ThemeSwitcher()
				</div>
			</div>
		</div>
	</nav>
}
