package auth

import (
	"AABBCCDD/app/views/layouts"
)

templ EmailVerificationError(errorMessage string) {
	@layouts.BaseLayout() {
		<div class="h-screen flex flex-col justify-center items-center gap-4">
			<div class="text-xl">{ errorMessage }</div>
			<a href="/" class="underline text-sm">back to homepage</a>
		</div>
	}
}
