package landing

import "example-app/views/layouts"

templ Index() {
	@layouts.App() {
		<div class="mt-20">
			<h1 class="text-3xl lg:text-6xl font-bold text-center">Ship stuff with small teams</h1>
		</div>
	}
}
