package landing

import (
	"AABBCCDD/app/views/layouts"
)

templ Index() {
	@layouts.App() {
		<div class="mt-20 text-center flex flex-col gap-10">
			<h1 class="max-w-xl mx-auto tracking-wider text-3xl lg:text-6xl font-bold">A single binary to change the world</h1>
			<a class="text-xl underline text-blue-500" target="_blank" href="https://github.com/anthdm/gothkit">Get started by reading the documentation</a>
		</div>
	}
}
